body {
  text-align: center;
 
}

#container {
  margin: 0px auto;
}

.slice {
  width: 200px;
  height: 100px;
  background: #a0a0a0;
  display: inline-block;
  -ms-transform: skewX(-20deg); /* IE 9 */
  -webkit-transform: skewX(-20deg); /* Safari */
  transform: skewX(-20deg);
  margin: 0px -5px;
  overflow: hidden;


  
}

.slice img {
  -ms-transform: all skewX(20deg); /* IE 9 */
  -webkit-transform: skewX(20deg); /* Safari */
  transform: skewX(20deg);
  height: 100%;
  margin-left: -100px;
  
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft E */


 
  

}


.slice img:hover {
 -webkit-filter: grayscale(0);
 
filter: none;


}